@import url('https://fonts.googleapis.com/css2?family=Ubuntu:ital,wght@0,300;0,400;0,500;0,700;1,300;1,400;1,500;1,700&display=swap');

:root {
  --ifm-font-family-base: 'Ubuntu', sans-serif;
  --ifm-font-family-monospace: 'Fira Code', monospace;
}

h1, h2, h3, h4, h5, h6 {
  font-family: 'Ubuntu', sans-serif;
  font-weight: 500;
}

code, pre {
  font-family: 'Fira Code', monospace;
}

/* === Navbar / Header === */
:root {
  --ifm-navbar-background-color: #E3E3E3;   /* bg color */
  --ifm-navbar-link-color: #242526;         /* links */
  --ifm-navbar-link-hover-color: #3578E5;   /* hover links */
  --ifm-navbar-height: 60px;
  --ifm-navbar-shadow: 0 2px 6px rgba(0,0,0,0.3);
}

[data-theme='dark'] {
  --ifm-navbar-background-color: #242526;   /* bg color */
  --ifm-navbar-link-color: #E3E3E3;         /* links */
  --ifm-navbar-link-hover-color: #3578E5;   /* hover links */
  --ifm-navbar-height: 60px;
  --ifm-navbar-shadow: 0 2px 6px rgba(0,0,0,0.3);
}

.navbar__brand {
  font-family: 'Ubuntu', sans-serif;
  font-weight: 700;
  font-size: 1.3rem;
}

.navbar__item a {
  font-family: 'Ubuntu', sans-serif;
  font-weight: 500;
  color: var(--ifm-navbar-link-color);
}
.navbar__item a:hover {
  color: var(--ifm-navbar-link-hover-color);
}

/* === Footer === */
:root {
  --ifm-footer-background-color: #E3E3E3;  /* bg color */
  --ifm-footer-color: #242526;             /* text color */
  --ifm-footer-link-color: #242526;        /* links */
  --ifm-footer-link-hover-color: #3578E5;  /* hover links */
}

[data-theme='dark'] {
  --ifm-footer-background-color: #242526;  /* bg color */
  --ifm-footer-color: #E3E3E3;             /* text color */
  --ifm-footer-link-color: #E3E3E3;        /* links */
  --ifm-footer-link-hover-color: #3578E5;  /* hover links */
}

.footer {
  font-weight: 500;
  font-size: 0.9rem;
  font-family: 'Ubuntu', sans-serif;
  position: relative;
  background-color: var(--ifm-footer-background-color);
  color: var(--ifm-footer-color);
  padding: 2rem 1rem;
}

/* === Wiki Icon === */
:root {
  --wiki-icon-color: #242526;
}

[data-theme='dark'] {
  --wiki-icon-color: #E3E3E3;
}

.wiki-icon path {
  fill: var(--wiki-icon-color);
  vertical-align: text-bottom;
  margin-right: 5px;
}

/* === Updates Icon === */
:root {
  --updates-icon-color: #242526;
}

[data-theme='dark'] {
  --updates-icon-color: #E3E3E3;
}

.updates-icon path {
  fill: var(--updates-icon-color);
  vertical-align: text-bottom;
  margin-right: 5px;
}

/* === Admonitions === */
.admonition {
  border-left: 4px solid currentColor;
  padding: 0.5rem 1rem;
  margin: 1rem 0;
  border-radius: 4px;
}

.admonition-note, .alert--note {
  border-left-color: #1F6FEB;
  background-color: #DCEEFB;
  color: #1F6FEB;
}

[data-theme='dark'] .admonition-note,
[data-theme='dark'] .alert--note {
  background-color: #0D1F3C;
  color: #DCEEFB;
}
